<nav class="navbar navbar-light" style="background-color: #e3f2fd;" ii="footer">
    <div class="list-group list-group-horizontal mx-auto">
        <a href="/books/" class="list-group-item list-group-item-action">Список книг</a>
        <a href="/publ/" class="list-group-item list-group-item-action">Список издателей</a>
        <a href="/author/" class="list-group-item list-group-item-action">Список авторов</a>
        <a href="/reader/" class="list-group-item list-group-item-action">Список читателей</a>
    </div>
</nav>

